/* mga fonts, puro poppins lang gamitin*/

@font-face {
  font-family: 'Poppins-black';
  src: url('../Fonts/Poppins-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-bold';
  src: url('../Fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-regular';
  src: url('../Fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-medium';
  src: url('../Fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-light';
  src: url('../Fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-italic';
  src: url('../Fonts/Poppins-Italic.ttf') format('truetype');
}


html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins-regular';
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  background-color: #f4f6f8;
  color: #333333;
  
}

.outer-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  /*border: solid green 1px;*/

}

.profile-ol {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(2px);
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}

.profile-ol.show {
  opacity: 1;
  pointer-events: auto
}


.profile-ol-content {
  display: flex;
  height: 80vh;
  width: 700px;
  max-width: 80%;
  background-color: #f4f6f8;
  flex-direction: column;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}

.profile-form-ol {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  align-items: center;
  
}

.upper-profile-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  border-bottom: solid #ccc 1px;
}

.upf-profile-container {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 2rem;
  width: auto;
}

.upf-upper-profile {
  display: flex;
  height: 75px;
  width: 75px;
  align-items: center;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-image: url('../Assets/default-user.png');
}

.upf-upper-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  
}

#upf-upper-name, #upf-upper-dept {
  margin: 0;
  padding: 0;
}

#upf-upper-name {
  font-family: 'Poppins-medium';
}

#upf-upper-dept {
  font-family: 'Poppins-light';
  color: gray;
}

.save-edit-btn {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 100%;
  width: auto;
  
}

.upf-save-btn, .upf-edit-btn {
  padding: 0.75rem 2rem;
  border-radius: 5px;
  border: none;
}

.upf-save-btn {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  pointer-events: none;
  transition: all 0.15s ease;
}

.upf-save-btn.enable {
  background-color: #2E7D32;
  color: #f4f6f8;
  cursor: pointer;
  pointer-events: auto;
}

.upf-save-btn.enable:hover {
  background-color: #256429;
}

.upf-save-btn.enable.active {
  background-color: #1B4D1F;
}

.upf-edit-btn {
  background-color: #007BFF;
  color: white ;
  transition: all 0.15 ease;
}

.upf-edit-btn:hover {
  background-color: #0056b3;
}

.upf-edit-btn:active {
  background-color: darkblue;
}

.lower-profile-form {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding-top: 20px;
  box-sizing: border-box;
}

.profile-labels {
  display: flex;
  margin-left: 1rem;
  padding: 0;
  font-family: 'Poppins-medium';
}

.lpf-basic, .lpf-work, .lpf-contact {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid #ccc 1px;
  border-top: solid #ccc 1px;
  margin-bottom: 1rem;
}



.modern-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 200px;
  box-sizing: border-box;
  margin: 0.5rem 0px;
}

.modern-input {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.fieldsets {
  display: flex;
  position: absolute;
  padding: 3px 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

legend {
  text-align: left;
  font-family: 'Poppins-light';
  font-size: 10px;
  padding: 0 5px;
  margin: 0;
}

.inputboxes {
  display: flex;
  margin-top: 0.7rem;
  padding-left: 0.5rem;
  height: calc(100% - 1rem);
  width: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 10;
  border: none;
  color: darkgray;
  transition: all 0.15s ease;

}

.inputboxes.editable {
  color: #333333;
}

.inputboxes:focus {
  border: solid rgba(0, 0, 0, 0) 1px;
  outline: none;
}

.deac-btn-container {
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: center;
  

}

.deac-btn {
  margin-top: 1rem;
  height: 50%;
  padding: 1rem 2rem;
  width: 40%;
  border: none;
  border-radius: 5px;
  background-color: #d64545;
  color: #f4f6f8;
}

.header-container {
  display: flex;
  position: fixed;
  top: 0;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(22, 46, 123, 0.7);
  backdrop-filter: blur(2px);
  z-index: 4;
  
}

.brand-container {
  display: flex;
  margin-left: 10px;
  gap: 10px;
  align-items: center;
  height: 95%;
}

.brand-icon {
  display: flex;
  height: 70px;
  width: 70px;
  background-image: url('../Assets/heroes-logo.png');
  background-size: cover;
  background-position: center;
}

.brand-name {
  display: flex;
  font-family: 'Poppins-black';
  font-size: 24px;
  color: #f4f6f8;
  align-items: center;
  text-align: center;
  /*border: solid greenyellow 1px;*/
}

.role {
  display: flex;
  font-family: 'Poppins-light';
  font-size: 16px;
  height: 40%;
  width: auto;
  padding: 0 20px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  border: solid #f4f6f8 1px;
  color: #f4f6f8;
}

.inner-container {
  display: flex;
  margin-top: 80px;
  height: auto;
  width: 100%;

}

.sidebar-container {
  display: flex;
  position: fixed;
  left: 0;
  height: 100vh;
  width: 25vw;
  background-color: #162E7B;
  z-index: 4;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  height: 160vh;
  width: 100%;
  box-sizing: border-box;
  
  
}

/*.sidebar-header-container {
  display: flex;
  height: 64px;
  width: 100%;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  border: solid #FFFFFF 1px;
}

.sidebar-header-text {
  display: flex;
  font-family: 'Poppins-bold';
  font-size: 24px;
  color: #FFFFFF;
}*/

.sidetabs {
  display: flex;
  padding: 0 20px;
  gap: calc((25vw * 0.9) * 0.08);
  align-items: center;
  justify-content: center;
  color: #F4F6F8;
  height: 60px;
  width: 90%;
  /*border: solid #F4F6F8 1px;*/
  border-radius: 30px;
  box-sizing: border-box;
  transition: all 0.15s ease-out;
}

#employee-tab {
  border: solid #f4f6f8 1px;
  /*box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.5);*/
}

#dashboard-tab:hover, #department-tab:hover, #leavereq-tab:hover, #payroll-tab:hover, #attendance-tab:hover {
  background-color: #4751FF;
}

.tab-icon {
  display: flex;
  height: 35px;
  width: 35px;
}

#dashboard-tab-icon {
  background-image: url('../Assets/home-icon-white.png');
  background-size: cover;
  background-position: center;
}

#employee-tab-icon {
  background-image: url('../Assets/employee-icon-white.png');
  background-size: cover;
  background-position: center;
}

#department-tab-icon {
  background-image: url('../Assets/department-icon-white.png');
  background-size: cover;
  background-position: center;
}

#leavereq-tab-icon {
  background-image: url('../Assets/leavereq-icon-white.png');
  background-size: cover;
  background-position: center;
}

#payroll-tab-icon {
  background-image: url('../Assets/payroll-icon-white.png');
  background-size: cover;
  background-position: center;
}

#attendance-tab-icon {
  background-image: url('../Assets/attendance-icon-white.png');
  background-size: cover;
  background-position: center;
}

.tab-text {
  display: flex;
  align-items: center;
  flex: 1;
  /*border: solid greenyellow 1px;*/
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25vw;
  height: 100%;
  width: 75vw;
  
}

.employee-content-container {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 85%;
  gap: 10px;
  /*border: solid pink 3px;*/
  
}

.upper-content {
  display: flex;
  margin-top: 10px;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  max-height: 10%;
  width: 100%;
  /*border: solid black 1px;*/
  box-sizing: border-box;
}

.section-name {
  display: flex;
  align-items: center;
  gap: calc((75vw * 0.85) * 0.6 * 0.04);
  height: 100%;
  width: 60%;
  /*border: solid darkred 1px;*/
}


.section-icon {
  display: flex;
  height: 40px;
  width: 40px;
  /*border: solid darkorange 1px;*/
  background-image: url('../Assets/employee-icon.png');
  background-size: cover;
}

.section-text {
  display: flex;
  font-family: 'Poppins-bold';
  font-size: 32px;
  /*border: solid lawngreen 1px;*/
}
 

.logout-icon {
  display: flex;
  height: 30px;
  width: 30px;
 /* border: solid black 1px;*/
  background-image: url('../Assets/logout-icon.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  /*border: solid #ccc 0.2px;*/
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.15s;
}

.logout-icon:hover {
  opacity: 0.75px;
  box-shadow: none;

}

.greetings-content {
  display: flex;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-top: solid dimgray 1px;
  box-sizing: border-box;
}

.left-greetings, .right-greetings {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  /*border: solid darkgreen 1px;*/
  
}

.greetings {
  display: flex;
  padding: 5px;
  font-family: 'Poppins-light';
  align-items: center;
  flex: 1;
  width: 100%;
  /*border: solid darkred 1px;*/
  box-sizing: border-box;
}

.path {
  display: flex;
  padding: 5px;
  font-family: 'Poppins-light';
  align-items: center;
  flex: 1;
  width: 100%;
  /*border: solid darkblue 1px;*/
  box-sizing: border-box;
}

.datetime {
  display: flex;
  padding: 5px;
  font-family: 'Poppins-light';
  align-items: center;
  justify-content: right;
  flex: 1;
  width: 100%;
  /*border: solid darkblue 1px;*/
  box-sizing: border-box;
}

.emptybox {
  display: flex;
  padding: 5px;
  align-items: center;
  flex: 1;
  width: 100%;
  border: solid darkred 1px;
  opacity: 0;
  box-sizing: border-box;
  
}

.main-content {
  display: flex;
  height: 500px;
  width: 100%;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 100px;
  border: solid darkblue 3px;
}

.upper-maincontent {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  text-align: center;
  border: solid green 5px;
}

#search_form {
  display: flex;
  gap: 20px;
  height: 100%;
  width: 100%;
  align-items: center;
  text-align: center;
  border: solid red 5px;

}

.filter-by {
  display: flex;
  align-items: center;
  padding: 0.25rem 0;
  height: auto;
  width: 30%;
  border-radius: 30px;
  border: solid #cccccc 1px;
  color: #666666;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.2s ease;

}

.filter-by:hover {
  border: solid #666666 1px;
  color: #333333;
}

.filter-box {
  display: flex;
  position: relative;
  height: auto;
  width: 100%;
  border: solid red 1px;
  
}


.filter-icon {
  display: flex;
  position: absolute;
  left: 0.5rem;
  height: 15px;
  width: 15px;
  background-image: url('../Assets/filter.png');
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

.filter-label {
  display: flex;
  font-family: 'Poppins-light';
  font-size: 12px;
  margin-left: 2rem;
}

.filter-arrow {
  display: flex;
  position: absolute;
  right: 0.5rem;
  height: 20px;
  width: 20px;
  background-image: url('../Assets/down-arrow.png');
  background-position: center;
  background-size: cover;
  opacity: 0.75;
  transition: all 0.15 ease;
}


.filter-overlay {
  display: flex;
  position: absolute;
  z-index: 10;
  flex-direction: column;
  top: 125%;
  left: 0;
  height: 250px;
  width: 200%;
  font-size: 12px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;
  
}

.filter-overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.filter-overlay-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.upper-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
  box-sizing: border-box;
}

.upper-filter-header{
  display: flex;
  width: 90%;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  border-bottom: solid #ccc 1px;
}

.upper-filter {
  display: flex;
  width: 90%;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 1rem;
}

.checkbox-container {
  display: flex;
  align-items: center;
}



.lower-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  
}

.lower-filter-header {
  display: flex;
  width: 90%;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  border-bottom: solid #ccc 1px;
}

.select-all-or-not {
  display: flex;
  height: 2rem;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  box-sizing: border-box;
}

#select-all, #deselect-all {
  font-weight: normal;
  text-decoration: underline;
  cursor: pointer;
  pointer-events: auto;
}

.checkbox-container-lower {
  display: flex;
  width: 100%;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
}

.searchbar {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border: solid black 1px;
}

.name-search {
  display: flex;
  position: relative;
  height: 100%;
  align-items: center;
  gap: 10px;
  border: solid #cccccc 1px ;
  color: #333333;
  border-radius: 30px;
  transition: all 0.2s ease;
}

.name-search.hide {
  opacity: 0;
  pointer-events: none;
}

.search-logo {
  display: flex;
  position: absolute;
  left: 10px;
  height: 15px;
  width: 15px;
  background-image: url('../Assets/search.png');
  background-size: cover;
  background-position: center;
}

.search-label {
  display: flex;
  font-family: 'Poppins-light';
  font-size: 12px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  flex: 1;
  width: 250px;
  border-radius: 30px;
  padding: 5px 10px;
  padding-left: 35px;
}


.search-label:focus {
  border: none;
  
}

.deacbox-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#deacbox-label {
  font-size: 10px;
}


.lower-maincontent {
  display: flex;
  height: auto;
  width: 100%;
  flex: 1;
  border: solid black 5px;
}

.table {
  display: flex;
  justify-content: center;
  border-spacing: 0px;
  border-collapse: collapse;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  color: #333333;

}

td, th {
  margin: 0px;
  border: 0.1px solid #ccc;
  
}

th {
  padding: 5px 10px;
  background-color: #eeeeee;
  color: #333333;
  letter-spacing: 0.5px;
  font-family: 'Poppins-light';
  font-size: 12px;


}

td {
  padding: 8px 16px;
  text-justify: center;
  text-align: center;
  align-content: center;
  align-items: center;
  font-family: 'Poppins-light';
  font-size: 14px;
  vertical-align: middle;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

.profile-form {
  display: flex;
  vertical-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
}


.profile-btn {
  display: flex;
  height: 30px;
  padding: 10px 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #162e7b;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 30px;
  border: solid #162e7b 1px;
  transition: all 0.15s ease;
}

.profile-btn:hover {
  border: none;
  background-color:  #162e7b;
  color: #f4f6f8;
}

.profile-btn:active {
  opacity: 0.75;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25vw;
  height: 100px;
  width: calc(100% - 25vw);
  background-color: #162E7B;
  color: #f4f6f8;
  
}

.brand-name-footer, .brand-info-footer, .brand-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 95%;
  flex: 1;
}

.brand-name-footer {
  font-size: 12px;
  font-family: 'Poppins-black';
}

.brand-info-footer, .brand-copyright {
  font-size: 8px;
}

