/* mga fonts, puro poppins lang gamitin*/

@font-face {
  font-family: 'Poppins-black';
  src: url('../Fonts/Poppins-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-bold';
  src: url('../Fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-regular';
  src: url('../Fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-medium';
  src: url('../Fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-light';
  src: url('../Fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-italic';
  src: url('../Fonts/Poppins-Italic.ttf') format('truetype');
}


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 200vh;
  width: 100vw;
  background-color: #f4f6f8;
  color: #333333;
}

.outer-container {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: solid green 1px;
  overflow-x: hidden;
  
}

.header-container {
  display: flex;
  position: fixed;
  top: 0;
  height: 15vh;
  width: 100%;
  background-color: rgba(22, 46, 123, 0.6);
  z-index: 4;
}

.inner-container {
  display: flex;
  position: relative;
  top: 14.9vh;
  height: calc(100% - 15vh);
  width: 100%;
  border: solid black 1px;
}

.sidebar-container {
  display: flex;
  position: fixed;
  left: 0;
  height: 100%;
  width: 25vw;
  background-color: #162E7B;
  z-index: 4;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 25vw;
  height: 100%;
  width: 75vw;
  border: solid gray 1px;
  
}

.dashboard-content-container {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 90%;
  gap: 10px;
  /*border: solid pink 3px;*/
  
}

.upper-content {
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  width: 100%;
  /*border: solid black 1px;*/
  box-sizing: border-box;
}

.section-name {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 100%;
  width: 60%;
  /*border: solid darkred 1px;*/
}


.section-icon {
  display: flex;
  height: 45px;
  width: 45px;
 /* border: solid red 1px;*/
  background-image: url('../Assets/home-icon-black.png');
  background-size: cover;
}

.section-text {
  display: flex;
  font-family: 'Poppins-bold';
  font-size: 32px;
}
 

.logout-icon {
  display: flex;
  height: 35px;
  width: 35px;
 /* border: solid black 1px;*/
  background-image: url('../Assets/logout-icon.png');
  background-size: cover;
}

.greetings-content {
  display: flex;
  height: 10%;
  width: 100%;
  border-top: solid dimgray 1px;
}

.main-content {
  display: flex;
  flex: 1;
  border: solid darkgreen 1px;
}

.footer-container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 25vw;
  top: 100%;
  height: 15vh;
  width: calc(100% - 25vw);
  border: solid blue 1px;
}