/* mga fonts, puro poppins lang gamitin*/

@font-face {
  font-family: 'Poppins-black';
  src: url('../Fonts/Poppins-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-bold';
  src: url('../Fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-regular';
  src: url('../Fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-medium';
  src: url('../Fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-light';
  src: url('../Fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-italic';
  src: url('../Fonts/Poppins-Italic.ttf') format('truetype');
}


html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins-regular';
  margin: 0;
  padding: 0;
  height: 220vh;
  width: 100vw;
  background-color: #f4f6f8;
  color: #333333;
}

.outer-container {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /*border: solid green 1px;*/
  overflow-x: hidden;
  
}

.header-container {
  display: flex;
  position: fixed;
  top: 0;
  height: 15vh;
  width: 100%;
  background-color: rgba(22, 46, 123, 0.6);
  backdrop-filter: blur(2px);
  z-index: 4;
}

.inner-container {
  display: flex;
  margin-top: 15vh;
  height: calc(100% - 15vh);
  width: 100%;
  /*border: solid black 1px;*/
}

.sidebar-container {
  display: flex;
  position: fixed;
  left: 0;
  height: 85vh;
  width: 25vw;
  background-color: #162E7B;
  z-index: 4;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  height: 140vh;
  width: 100%;
  
  
}

.sidebar-header-container {
  display: flex;
  height: 10%;
  width: 100%;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  /*border: solid #FFFFFF 1px;*/
}

.sidebar-header-text {
  display: flex;
  font-family: 'Poppins-bold';
  font-size: 24px;
  color: #FFFFFF;
}

.sidetabs {
  display: flex;
  padding: 0 20px;
  gap: 20px;
  align-items: center;
  justify-content: center;
  color: #F4F6F8;
  height: 60px;
  width: 90%;
  border-radius: 10px;
  /*border: solid #F4F6F8 1px;*/
  box-sizing: border-box;
}

#dashboard-tab {
  border: solid #f4f6f8 1px;
  border-radius: 30px;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.5);
}

.tab-icon {
  display: flex;
  height: 35px;
  width: 35px;
}

#dashboard-tab-icon {
  background-image: url('../Assets/home-icon-white.png');
  background-size: cover;
  background-position: center;
}

#employee-tab-icon {
  background-image: url('../Assets/employee-icon-white.png');
  background-size: cover;
  background-position: center;
}

#department-tab-icon {
  background-image: url('../Assets/department-icon-white.png');
  background-size: cover;
  background-position: center;
}

#leavereq-tab-icon {
  background-image: url('../Assets/leavereq-icon-white.png');
  background-size: cover;
  background-position: center;
}

#payroll-tab-icon {
  background-image: url('../Assets/payroll-icon-white.png');
  background-size: cover;
  background-position: center;
}

#attendance-tab-icon {
  background-image: url('../Assets/attendance-icon-white.png');
  background-size: cover;
  background-position: center;
}

.tab-text {
  display: flex;
  align-items: center;
  flex: 1;
  /*border: solid greenyellow 1px;*/
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25vw;
  height: 100%;
  width: 75vw;
  /*border: solid gray 1px;*/
  
}

.dashboard-content-container {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 85%;
  gap: 10px;
  /*border: solid pink 3px;*/
  
}

.upper-content {
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  width: 100%;
  /*border: solid black 1px;*/
  box-sizing: border-box;
}

.section-name {
  display: flex;
  align-items: center;
  gap: calc((75vw * 0.85) * 0.6 * 0.04);
  height: 100%;
  width: 60%;
  /*border: solid darkred 1px;*/
}


.section-icon {
  display: flex;
  height: 40px;
  width: 40px;
  /*border: solid darkorange 1px;*/
  background-image: url('../Assets/home-icon-black.png');
  background-size: cover;
}

.section-text {
  display: flex;
  font-family: 'Poppins-bold';
  font-size: 32px;
  /*border: solid lawngreen 1px;*/
}
 

.logout-icon {
  display: flex;
  height: 35px;
  width: 35px;
 /* border: solid black 1px;*/
  background-image: url('../Assets/logout-icon.png');
  background-size: cover;
}

.greetings-content {
  display: flex;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-top: solid dimgray 1px;
  box-sizing: border-box;
}

.left-greetings, .right-greetings {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  /*border: solid darkgreen 1px;*/
  
}

.greetings {
  display: flex;
  padding: 5px;
  font-family: 'Poppins-light';
  align-items: center;
  height: auto;
  width: 100%;
  /*border: solid darkred 1px;*/
  box-sizing: border-box;
}

.path {
  display: flex;
  padding: 5px;
  font-family: 'Poppins-light';
  align-items: center;
  height: auto;
  width: 100%;
  /*border: solid darkblue 1px;*/
  box-sizing: border-box;
}

.datetime {
  display: flex;
  padding: 5px;
  font-family: 'Poppins-light';
  align-items: center;
  justify-content: right;
  height: auto;
  width: 100%;
  /*border: solid darkblue 1px;*/
  box-sizing: border-box;
}

.emptybox {
  display: flex;
  padding: 5px;
  align-items: center;
  height: auto;
  width: 100%;
  /*border: solid darkred 1px;*/
  box-sizing: border-box;
  
}

.main-content {
  display: flex;
  height: 130vh;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  /*border: solid darkgreen 1px;*/
}

.upper-summarycards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25%;
  width: 95%;
  /*border: solid black 1px;*/
}

.uppercard {
  display: flex;
  align-items: center;
  height: 100%;
  width: 48%;
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
}

#employee-card-icon {
  background-image: url('../Assets/employee-icon.png');
}

#department-card-icon {
  background-image: url('../Assets/department-icon.png');
}

.uppercard-icon {
  display: flex;
  margin-left: 20px;
  height: 65px;
  width: 65px;
  background-size: cover;
  background-position: center;
}

.uppercard-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  flex: 1;
  /*border: solid black 1px;*/
}

.uppercard-header {
  display: flex;
  font-family: 'Poppins-medium';
  justify-content: center;
  align-items: center;
  height: 40%;
}

.uppercard-count {
  display: flex;
  font-family: 'Poppins-black';
  font-size: 32px;
  justify-content: center;
  align-items: center;
  height: auto;
  /*border: solid orangered 1px;*/
}

.lower-summarycards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50%;
  width: 95%;
  /*border: solid orangered 1px;*/
  
}

.lowercard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 48%;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
  
}

.request-card-header-container {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 25%;
  width: 100%;
  border-radius: 10px;
}

.rch-text {
  display: flex;
  margin-left: 20px;
  font-family: 'Poppins-medium';
  text-align: center;
  /*border: solid black 1px;*/
} 

.rch-count {
  display: flex;
  flex: 1;
  align-items: center;
  text-align: center;
  font-family: 'Poppins-bold';
  border-radius: 0px;
  /*border: solid #CCC 0.1px;*/
  /*box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.2);*/
  /*background-color: #F4F6F8;*/
}

.request-card-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;;
  height: 45%;
  width: 100%;
  /*border: solid darkred 1px;*/
}

.leave-person1, .leave-person2 {
  display: flex;
  align-items: center;
  flex: 1;
  width: 95%;
  border-radius: 30px;
  background-color: #f4f6f8;
  /*box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.2);*/
  /*border: solid #CCC 0.1px;*/
}

.person1-profile, .person2-profile {
  display: flex;
  margin-left: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  border: solid #162E7B 1px;
}

.person1-profile {
  background-image: url('../Assets/profile1.jpg');
  background-size: cover;
  background-position: center;
}

.person2-profile {
  background-image: url('../Assets/profile2.jpg');
  background-size: cover;
  background-position: center;
}

.person1-name, .person2-name {
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 45%;
  height: 100%;
  
}

.person1-department, .person2-department {
  display: flex;
  margin-right: 10px;
  padding: 0px 5px;
  font-size: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 60%;
  flex: 1;
  border-radius: 50px;;
}

.person1-department {
  background-color: rgba(35,120,120, 0.2);
  color: rgba(35, 70, 70, 1);
}

.person2-department {
  background-color: rgba(100, 25, 190, 0.2);
  color: rgba(50, 25, 140, 1);
}


.request-card-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  /*border: solid darkgreen 1px;*/
}

#view-btn {
  display: flex;
  font-family: 'Poppins-medium';
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 120px;
  border-radius: 30px;
  background-color: #162E7B;
  color: #F4f6f8;
  border: none;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);
}

#payroll-card {
  display: flex;
  flex-direction: column;
}

.payroll-card-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.payroll-card-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25vw;
  height: 20vh;
  width: calc(100% - 25vw);
  background-color: #162E7B;
  color: #f4f6f8;
}