/* mga fonts, puro poppins lang gamitin*/

@font-face {
  font-family: 'Poppins-black';
  src: url('../Fonts/Poppins-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-bold';
  src: url('../Fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-regular';
  src: url('../Fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-medium';
  src: url('../Fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-light';
  src: url('../Fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-italic';
  src: url('../Fonts/Poppins-Italic.ttf') format('truetype');
}


html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins-regular';
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  background-color: #f4f6f8;
  color: #333333;
}

.outer-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  /*border: solid green 1px;*/

  
}

.header-container {
  display: flex;
  position: fixed;
  top: 0;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(22, 46, 123, 0.7);
  backdrop-filter: blur(2px);
  z-index: 4;
  
}

.brand-container {
  display: flex;
  margin-left: 10px;
  gap: 10px;
  align-items: center;
  height: 95%;
}

.brand-icon {
  display: flex;
  height: 70px;
  width: 70px;
  background-image: url('../Assets/heroes-logo.png');
  background-size: cover;
  background-position: center;
}

.brand-name {
  display: flex;
  font-family: 'Poppins-black';
  font-size: 24px;
  color: #f4f6f8;
  align-items: center;
  text-align: center;
  /*border: solid greenyellow 1px;*/
}

.role {
  display: flex;
  font-family: 'Poppins-light';
  font-size: 16px;
  height: 40%;
  width: auto;
  padding: 0 20px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  border: solid #f4f6f8 1px;
  color: #f4f6f8;
}

.inner-container {
  display: flex;
  margin-top: 80px;
  height: auto;
  width: 100%;

}

.sidebar-container {
  display: flex;
  position: fixed;
  left: 0;
  height: 100vh;
  width: 25vw;
  background-color: #162E7B;
  z-index: 4;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  height: 160vh;
  width: 100%;
  box-sizing: border-box;
  
  
}

/*.sidebar-header-container {
  display: flex;
  height: 64px;
  width: 100%;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  border: solid #FFFFFF 1px;
}

.sidebar-header-text {
  display: flex;
  font-family: 'Poppins-bold';
  font-size: 24px;
  color: #FFFFFF;
}*/

.sidetabs {
  display: flex;
  padding: 0 20px;
  gap: calc((25vw * 0.9) * 0.08);
  align-items: center;
  justify-content: center;
  color: #F4F6F8;
  height: 60px;
  width: 90%;
  /*border: solid #F4F6F8 1px;*/
  border-radius: 30px;
  box-sizing: border-box;
  transition: all 0.15s ease-out;
}

#employee-tab {
  border: solid #f4f6f8 1px;
  /*box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.5);*/
}

#dashboard-tab:hover, #department-tab:hover, #leavereq-tab:hover, #payroll-tab:hover, #attendance-tab:hover {
  background-color: #4751FF;
}

.tab-icon {
  display: flex;
  height: 35px;
  width: 35px;
}

#dashboard-tab-icon {
  background-image: url('../Assets/home-icon-white.png');
  background-size: cover;
  background-position: center;
}

#employee-tab-icon {
  background-image: url('../Assets/employee-icon-white.png');
  background-size: cover;
  background-position: center;
}

#department-tab-icon {
  background-image: url('../Assets/department-icon-white.png');
  background-size: cover;
  background-position: center;
}

#leavereq-tab-icon {
  background-image: url('../Assets/leavereq-icon-white.png');
  background-size: cover;
  background-position: center;
}

#payroll-tab-icon {
  background-image: url('../Assets/payroll-icon-white.png');
  background-size: cover;
  background-position: center;
}

#attendance-tab-icon {
  background-image: url('../Assets/attendance-icon-white.png');
  background-size: cover;
  background-position: center;
}

.tab-text {
  display: flex;
  align-items: center;
  flex: 1;
  /*border: solid greenyellow 1px;*/
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25vw;
  height: 100%;
  width: 75vw;
  
}

.employee-content-container {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 85%;
  gap: 10px;
  /*border: solid pink 3px;*/
  
}

.upper-content {
  display: flex;
  margin-top: 10px;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  max-height: 10%;
  width: 100%;
  /*border: solid black 1px;*/
  box-sizing: border-box;
}

.section-name {
  display: flex;
  align-items: center;
  gap: calc((75vw * 0.85) * 0.6 * 0.04);
  height: 100%;
  width: 60%;
  /*border: solid darkred 1px;*/
}


.section-icon {
  display: flex;
  height: 40px;
  width: 40px;
  /*border: solid darkorange 1px;*/
  background-image: url('../Assets/employee-icon.png');
  background-size: cover;
}

.section-text {
  display: flex;
  font-family: 'Poppins-bold';
  font-size: 32px;
  /*border: solid lawngreen 1px;*/
}
 

.logout-icon {
  display: flex;
  height: 30px;
  width: 30px;
 /* border: solid black 1px;*/
  background-image: url('../Assets/logout-icon.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  /*border: solid #ccc 0.2px;*/
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.15s;
}

.logout-icon:hover {
  opacity: 0.75px;
  box-shadow: none;

}

.greetings-content {
  display: flex;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-top: solid dimgray 1px;
  box-sizing: border-box;
}

.left-greetings, .right-greetings {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  /*border: solid darkgreen 1px;*/
  
}

.greetings {
  display: flex;
  padding: 5px;
  font-family: 'Poppins-light';
  align-items: center;
  flex: 1;
  width: 100%;
  /*border: solid darkred 1px;*/
  box-sizing: border-box;
}

.path {
  display: flex;
  padding: 5px;
  font-family: 'Poppins-light';
  align-items: center;
  flex: 1;
  width: 100%;
  /*border: solid darkblue 1px;*/
  box-sizing: border-box;
}

.datetime {
  display: flex;
  padding: 5px;
  font-family: 'Poppins-light';
  align-items: center;
  justify-content: right;
  flex: 1;
  width: 100%;
  /*border: solid darkblue 1px;*/
  box-sizing: border-box;
}

.emptybox {
  display: flex;
  padding: 5px;
  align-items: center;
  flex: 1;
  width: 100%;
  border: solid darkred 1px;
  opacity: 0;
  box-sizing: border-box;
  
}

.main-content {
  display: flex;
  height: 500px;
  width: 100%;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 100px;
  /*border: solid darkblue 3px;*/
}

.upper-maincontent {
  display: flex;
  width: 100%;
  height: 75px;
  /*border: solid red 1px;*/
}

.lower-maincontent {
  display: flex;
  height: auto;
  width: 100%;
}

.table {
  display: flex;
  justify-content: center;
  border-spacing: 0px;
  align-items: center;
  text-align: center;
  flex: 1;
  color: #333333;

}

td, th {
  
  margin: 0px;
  border-bottom: 0.1px solid #ccc;
  
}

th {
  padding: 15px 15px;
  background-color: #eeeeee;
  color: #333333;
  letter-spacing: 0.5px;
  font-family: 'Poppins-light';
  border: 0.1px solid #ccc;


}

td {
  padding: 10px 15px;
  font-family: 'Poppins-light';
  font-size: 14px;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

.profile-form {
  display: flex;
  height: 20px;
  width: 20px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25vw;
  height: 100px;
  width: calc(100% - 25vw);
  background-color: #162E7B;
  color: #f4f6f8;
  
}

.brand-name-footer, .brand-info-footer, .brand-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 95%;
  flex: 1;
}

.brand-name-footer {
  font-size: 12px;
  font-family: 'Poppins-black';
}

.brand-info-footer, .brand-copyright {
  font-size: 8px;
}


.outer-container, .footer-container {
  border: 2px dashed red;
}

.main-content{
  border: 2px dashed black;
}

.upper-maincontent {
  border: 2px dashed darkblue;
}
